/* Navbar */

#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul,
#navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: #444 dotted 1px;
}

/* Showcase */

#showcase .showcase-content {
  padding-top: 70px;
}

/* Home Info */

#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
}

.box {
  float: none;
  width: 100%;
}

/* About */

#about-info .info-left,
#about-info .info-right {
  float: none;
  width: 100%;
}

#about-info .info-right {
  margin-top: 30px;
}

.l-heading {
  text-align: center;
}

/* Contact */

#contact-info .box {
  border-bottom: #444 dotted 1px;
}
